<section class="photo-wall">
    <div class="container-fluid">
        <div class="row">
            {{each photos as value i}}
            <div class="col-xs-6 col-md-4">
                {{each value as val j}}
                <div class="model">
                    <div class="photo" arr-index="{{i}}-{{j}}">
                        <img class="lazy" data-original="{{val.index}}" src="{{val.index}}" />
                    </div>
                    <h5 class="theme">{{val.theme}}</h5>
                    <p class="author"><a href="{{val.link}}" target="_blank">{{val.author}}<i class="iconfont">&#xe603;</i></a></p>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</section>
