<ul class="project-list">
    <li>
        <a href="/projects/BannerSlide/banner_slide.html">banner滑动轮播</a>
        <a href="/projects/BannerSlide/banner_opacity.html">banner渐变轮播</a>
    </li>
    <li>
        <a href="/projects/Countdown/countdown_canvas.html">倒计时-Canvas</a>
        <a href="/projects/Countdown/countdown_rotate.html">倒计时-Rotate</a>
    </li>
    <li>
        <a href="/projects/Countdown/cube_horizon.html">水平旋转立方体</a>
        <a href="/projects/Countdown/cube_vertical.html">垂直旋转立方体</a>
    </li>
    <li>
        <a href="/projects/Gallery/gallery.html">图片画廊</a>
    </li>
</ul>