<div class="about">
    <h1>About me</h1>
    <div class="intro">
        <p>
            Hi, I am Dongyang Li. 
        </p>
        <p>
            My nickname is Style. I am a Front-End Web Developer. I have been doing web development for several years using technologies like HTML, CSS, Javascript, JQuery and Java.
        </p>
        <p>
            Fashion is temporary, style is forever.
        </p>
    </div>
    <dl class="intro-dl">
        <dt>Hobbies:</dt>
        <dd>
            <p>Sports</p>
            <P>Photography</P>
            <p>Travel</p>
        </dd>
    </dl>
       
    <p>
        <span class="email">Email: </span> lidongyang23@gmail.com
    </p>
    <p>
        <a href="https://github.com/stylever">
            <i class="iconfont icon-github">&#xe600;</i>Github        
        </a>
    </p>
    <div class="share">
        <img class="qrimg" src="../images/blog_qrcode.png" alt="Style blog" />
    </div>
</div>