<ul class="project-list">
    <li>
        <a href="/projects/Cube/cube_horizon.html">Cube-Horizon</a>
        <a href="/projects/Cube/cube_vertical.html">Cube-Vertical</a>
    </li>
    <li>
        <a href="/projects/Gallery/gallery.html">Gallery</a>
    </li>
    <li>
        <a href="/projects/BannerSlide/banner_slide.html">BannerSlide</a>
        <a href="/projects/BannerSlide/banner_opacity.html">BannerOpacity</a>
    </li>
    <li>
        <a href="/projects/Countdown/countdown_canvas.html">Countdown-Canvas</a>
        <a href="/projects/Countdown/countdown_rotate.html">Countdown-Rotate</a>
    </li>
</ul>